@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY COLORS */
  --primary: hsl(158, 36%, 37%);
  --secondary: hsl(158, 35%, 18%);
  --cream: hsl(30, 38%, 92%);
  /* NEUTRAL COLORS */
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  /* font-family: 'Fraunces', serif; */
  /* font-family: 'Montserrat', sans-serif; */
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 50vw;
  border-radius: 10px;
  overflow: hidden;
}

section div {
  flex: 1;
  display: flex;
  align-items: center;
}

section div:first-child {
  display: flex;
  height: 100%;
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section div:last-child {
  display: flex;
  /* gap: 5px; */
  flex-direction: column;
  background-color: var(--white);
  padding: 18px 36px;
  align-items: flex-start;
  justify-content: space-evenly;
}

main footer {
  position: sticky;
  bottom: 0;
}

h4 {
  color: grey;
  /* font-size: 14px; */
  font-size: 1rem;
  font-family: "Montserrat", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h1 {
  color: var(--dark-blue);
  font-size: 2.4em;
  text-align: left;
  line-height: 40px;
  font-family: "Fraunces", serif;
}
p {
  color: var(--grayish-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}
section div:nth-child(2) span:first-child {
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--grayish-blue);
}
span:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  font-family: "Fraunces", serif;
  font-size: 1.8em;
  font-weight: bold;
  color: var(--primary);
}

button {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 0px;
  background-color: var(--primary);
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: var(--secondary);
  transform: translateY(-5px);
}

button img {
  width: auto;
  height: 100%;
}

footer {
  padding-bottom: 5px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}